# Vite Environment Variables
VITE_API_URL=http://localhost:3010
VITE_IS_PRODUCTION=false
NEXT_PUBLIC_LENS_NETWORK=mainnet

# API Environment Variables
LENS_NETWORK=mainnet
DATABASE_URL=your_database_url_here
LENS_DATABASE_URL=your_lens_database_url_here
REDIS_URL=your_redis_url_here
PRIVATE_KEY=your_private_key_here
EVER_ACCESS_KEY=your_ever_access_key_here
EVER_ACCESS_SECRET=your_ever_access_secret_here
SHARED_SECRET=your_shared_secret_here
LIVEPEER_KEY=your_livepeer_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here
INFURA_URL=your_infura_url_here
REFERRAL_CONTRACT_ADDRESS=your_referral_contract_address_here
BALANCED_GAME_VAULT_ADDRESS=your_balanced_game_vault_address_here
UNBALANCED_GAME_VAULT_ADDRESS=your_unbalanced_game_vault_address_here
VIP_VAULT_ADDRESS=your_vip_vault_address_here
DEFAULT_LENS_HANDLE=your_default_lens_handle_here
